@layer components {
  .pelcro-root .pelcro-product {
    display: flex !important;
  }
  .pelcro-root .pelcro-select-plan-radio {
    margin-top: 0.4rem;
  }
  .pelcro-root .productTabs:before {
    content: "";
    width: calc(100% - 5.5rem);
    left: 2.75rem;
    @apply plc-h-px plc-bg-gray-300 plc-absolute plc-bottom-0.5;
  }
  .pelcro-root .selectedProduct img {
    max-width: 150px;
    height: auto;
  }
  .pelcro-root .pelcro-select-plan-wrapper:hover,
  .pelcro-root .pelcro-select-product-wrapper:hover {
    @apply plc-border-primary plc-border-2;
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  }
  .pelcro-root .pelcro-select-plan-wrapper,
  .pelcro-root .pelcro-select-product-wrapper {
    transition: all 0.2s ease-in-out;
  }
}
