@layer components {
  .pelcro-root .pelcro-button-solid {
    @apply plc-inline-flex plc-items-center plc-justify-center plc-px-6 plc-py-2 plc-font-semibold plc-tracking-wider plc-text-white plc-uppercase plc-bg-primary-500 plc-rounded focus:plc-outline-none focus:plc-ring-2 focus:plc-ring-primary-300 plc-justify-items-center disabled:plc-bg-gray-400 disabled:plc-cursor-not-allowed plc-w-max hover:plc-bg-primary-600;
  }

  .pelcro-root .pelcro-button-outline {
    @apply plc-inline-flex plc-items-center plc-justify-center plc-px-6 plc-py-2 plc-font-semibold plc-uppercase plc-bg-transparent disabled:plc-bg-transparent plc-text-primary-500 plc-border plc-border-primary-500 plc-rounded focus:plc-outline-none focus:plc-ring-2 focus:plc-ring-primary-300 plc-justify-items-center plc-tracking-wider disabled:plc-text-gray-500 disabled:plc-border-gray-500 disabled:plc-cursor-not-allowed plc-w-max hover:plc-bg-primary-600 hover:plc-text-white;
  }

  .pelcro-root .pelcro-button-icon {
    @apply plc-inline-flex plc-items-center plc-justify-center plc-w-8 plc-h-8 plc-rounded-full focus:plc-outline-none focus:plc-ring-2 focus:plc-ring-primary-300 hover:plc-bg-primary-100 hover:plc-text-primary-600 disabled:plc-text-gray-500 disabled:plc-cursor-not-allowed;
  }

  .pelcro-root .pelcro-button-ghost {
    @apply plc-inline-flex plc-items-center plc-justify-center plc-p-1 plc-text-xs plc-font-semibold plc-text-primary-400 plc-bg-transparent plc-rounded-lg focus:plc-outline-none focus:plc-ring-2 focus:plc-ring-primary-300 plc-justify-items-center disabled:plc-text-gray-500 hover:plc-bg-primary-50 disabled:plc-bg-transparent plc-w-max;
  }

  .pelcro-root .pelcro-button-spinner {
    @apply plc-w-5 plc-h-5 plc-mr-1 plc-animate-spin;
  }
}
