/* used by multiple input sub-components */
@layer components {
  .pelcro-root .pelcro-input-wrapper {
    @apply plc-w-full plc-mb-6;
  }
  .pelcro-root .pelcro-input-label {
    @apply plc-mb-1 plc-text-gray-900;
  }
  .pelcro-root .pelcro-input-error {
    @apply plc-absolute plc-h-auto plc-mt-0.5 plc-text-sm plc-text-red-500 plc-normal-case;
  }
  .pelcro-root .pelcro-input-field {
    @apply plc-w-full plc-p-2 plc-text-gray-900 plc-border plc-border-gray-300 plc-border-solid plc-rounded-sm plc-outline-none plc-appearance-none plc-bg-gray-50 disabled:plc-bg-gray-300 disabled:plc-cursor-not-allowed;
  }
  .pelcro-root .pelcro-input-invalid {
    @apply plc-border-red-300;
  }
}
