.pelcro-root [multiple],
.pelcro-root [type="date"],
.pelcro-root [type="datetime-local"],
.pelcro-root [type="email"],
.pelcro-root [type="month"],
.pelcro-root [type="number"],
.pelcro-root [type="password"],
.pelcro-root [type="search"],
.pelcro-root [type="tel"],
.pelcro-root [type="text"],
.pelcro-root [type="time"],
.pelcro-root [type="url"],
.pelcro-root [type="week"],
.pelcro-root select,
.pelcro-root textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.pelcro-root input::-moz-placeholder,
.pelcro-root textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}
.pelcro-root input:-ms-input-placeholder,
.pelcro-root textarea:-ms-input-placeholder {
  color: #6b7280;
  opacity: 1;
}
.pelcro-root input::placeholder,
.pelcro-root textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}
.pelcro-root ::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
.pelcro-root ::-webkit-date-and-time-value {
  min-height: 1.5em;
}
.pelcro-root select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.pelcro-root [multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: unset;
}
.pelcro-root [type="checkbox"],
.pelcro-root [type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
}
.pelcro-root [type="checkbox"] {
  border-radius: 0;
}
.pelcro-root [type="radio"] {
  border-radius: 100%;
}
.pelcro-root [type="checkbox"]:checked,
.pelcro-root [type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.pelcro-root [type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.pelcro-root [type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
.pelcro-root [type="checkbox"]:checked:focus,
.pelcro-root [type="checkbox"]:checked:hover,
.pelcro-root [type="radio"]:checked:focus,
.pelcro-root [type="radio"]:checked:hover {
  border-color: transparent;
  background-color: currentColor;
}
.pelcro-root [type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.pelcro-root [type="checkbox"]:indeterminate:focus,
.pelcro-root [type="checkbox"]:indeterminate:hover {
  border-color: transparent;
  background-color: currentColor;
}
.pelcro-root [type="file"] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}
