.pelcro-user-profile-picture:hover {
  filter: brightness(0.8);
}
#pelcro-view-dashboard-submenus {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
