@import "./css/normalize.css";
@import "./css/forms.css";
@tailwind components;
@tailwind utilities;

  #pelcro-app .pelcro-modal-open {
  @apply overflow-hidden;
}

.pelcro-modal-overlay {
  backdrop-filter: blur(2px);
}

.pelcro-badge {
  top: -5%;
  right: -5%;
}
