$primary-color: #32aea1;
$secondary-color: #3bc5b6;
$primary-font: "Open Sans", Helvetica, Arial, sans-serif;

body.pelcro-prefix-modal-open {
  // Kill the scroll on the body
  overflow: hidden;
}

#pelcro-app {
  /** APP.CSS **/
  @import "node_modules/reset-css/sass/reset";
  @import "bootstrap/scope.scss";
  @import "bootstrap/modal.scss";
  @import "bootstrap/buttons.scss";

  /** Bootstrap **/
  .pelcro-prefix-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: none;
    overflow: auto;
    outline: 0;
  }

  .pelcro-prefix-fade {
    transition: opacity 0.15s linear;
  }

  .pelcro-prefix-show {
    display: block;
  }

  .pelcro-prefix-modal-content {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    font: inherit;
  }

  div.pelcro-apply-coupon-container {
    display: flex;
    border-radius: 6px;
    margin: 4px 0 4px 0;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    background: white;

    > input {
      flex-grow: 1;
      border: none;
      background: #fff;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .pelcro-prefix-link {
    text-decoration: underline;
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    color: $secondary-color;
    height: auto;
    outline: none !important;
  }

  .pelcro-prefix-center-text {
    text-align: center;
  }

  /* Common styles */
  .pelcro-prefix-modal {
    display: block;
    background-color: #343a40de;
    backdrop-filter: blur(2px);
    overflow: auto;
  }

  .pelcro-prefix-header {
    padding: 1em;
  }

  .pelcro-prefix-site-logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
  }

  .pelcro-prefix-center {
    margin: auto;
  }

  .pelcro-prefix-title-clock {
    text-align: center;
  }

  .pelcro-prefix-error-message-text {
    display: inline-block;
  }

  .pelcro-prefix-alert-close {
    display: inline-block;
    float: right;
    cursor: pointer;
  }

  .pelcro-prefix-authorship {
    text-align: center;
    margin: 10px;
  }

  .pelcro-prefix-authorship-img {
    height: 30px;
  }

  .pelcro-prefix-payment-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* Success view */
  .pelcro-prefix-plan-description {
    text-align: center;
  }

  /* Payment view */
  .pelcro-prefix-options-btn {
    width: min-content;
    padding: 3px 9px;
  }

  /* Menu view */
  #pelcro-view-menu {
    position: fixed;
    background-color: #ffffff;
    bottom: 1em;
    right: 0.3em;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    width: 3.71428571em;
    height: 3.71428571em;
    cursor: pointer;
    z-index: 99999999;
    color: #000;
    background: #ffffff;

    &:focus {
      outline: none;
    }
  }

  /* Meter view */
  @keyframes from-bottom {
    from {
      transform: translate3d(0, 100%, 0);
      -webkit-transform: translate3d(0, 100%, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-moz-keyframes from-bottom {
    from {
      transform: translate3d(0, 100%, 0);
      -webkit-transform: translate3d(0, 100%, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes from-bottom {
    from {
      transform: translate3d(0, 100%, 0);
      -webkit-transform: translate3d(0, 100%, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  #pelcro-view-meter {
    background: 0;
    min-width: 400px;
    background: #fff;
    margin: 1.85714286em;
    padding: 15px;
    text-align: center;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99999;
    pointer-events: initial;
    animation: from-bottom 0.3s linear 0s forwards;
    -webkit-animation: from-bottom 0.3s linear 0s forwards;
    -moz-animation: from-bottom 0.3s linear 0s forwards;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    position: fixed;
    border-radius: 6px;
  }

  @media (max-width: 576px) {
    #pelcro-view-meter {
      margin: 0;
      min-width: 320px;
    }
  }

  /** Bootstrap **/

  font-family: $primary-font;
  color: #252525;
  font-size: 14px;
  font-weight: 300;
  overflow: auto;

  h3 {
    font-size: 28px;
    font-family: inherit;
    font-weight: 500;
    line-height: 35px;
    color: inherit;
  }

  p {
    margin: 5px 0 5px 0;
    line-height: 25px;
  }

  h4 {
    font-family: $primary-font;
    font-weight: 500;
    color: inherit;
    font-size: 19px;
    font-weight: 400;
    color: #252525;
    line-height: 30px;
  }

  /** Close btn**/
  .pelcro-prefix-close:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .pelcro-prefix-close:not(:disabled):not(.disabled):focus,
  .pelcro-prefix-close:not(:disabled):not(.disabled):hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }

  button.pelcro-prefix-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
  }

  .pelcro-prefix-close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    height: 24px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
  }

  /** Modal header **/
  .pelcro-prefix-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
    -ms-flex-pack: justify;
    margin: 0;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .pelcro-prefix-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #252525;
  }

  /** Modal body **/
  .pelcro-prefix-modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0px;
    color: #252525;
  }

  /** Error message **/
  .pelcro-prefix-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .pelcro-prefix-alert-danger {
    color: #721c24;
    background: #fce8e8;
    border: 1px solid #e23636;
    margin: 10px 0;
  }

  /** Success message **/
  .pelcro-prefix-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin: 10px 0;
  }

  .pelcro-prefix-form-group {
    margin-bottom: 16px;
    margin-bottom: 0.4rem;
  }

  .pelcro-prefix-form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .pelcro-prefix-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  /** Submit btn **/

  .pelcro-prefix-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    cursor: pointer;
    background: $primary-color;
    border-color: $primary-color;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 39px;
    margin: 5px 0px 5px 0px;
    color: #fff;
    width: 100%;
  }

  .pelcro-prefix-btn:hover {
    transform: translate3d(0, -2px, 0);
    transition: 0.1s linear;
    background: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }

  [type="reset"],
  [type="submit"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }

  button,
  select {
    text-transform: none;
  }

  button {
    overflow: visible;
  }

  button,
  optgroup,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button {
    border-radius: 0;
  }

  .pelcro-prefix-form-text {
    display: block;
    margin-top: 0.25rem;
  }

  .pelcro-prefix-small,
  small {
    font-size: 90%;
    font-weight: 400;
    padding: 5px;
    margin: 0 !important;
    line-height: 20px;
  }

  /** Modal footer **/
  .pelcro-prefix-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    font-size: 14px;
    font-weight: 200;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  /** Common **/

  .pelcro-prefix-title-block {
    margin-bottom: 10px;
    font: inherit;
    text-align: center;
  }

  .pelcro-prefix-modal-body,
  .pelcro-prefix-modal-title,
  .pelcro-prefix-modal-footer {
    padding-right: 39px;
    padding-left: 39px;
  }

  .pelcro-prefix-site-name {
    font-size: 23px;
    line-height: 26px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .pelcro-prefix-payment_vendors {
    display: grid;
    row-gap: 0.4em;

    .stripe-payment-request-btn {
      background: transparent;
      height: auto;
      box-shadow: none;
      padding: 0;
    }

    &:empty {
      display: none;
    }
  }

  .pelcro-prefix-input,
  .StripeElement {
    height: 39px;
    border-radius: 6px;
    display: block;
    margin: 4px 0 4px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 1;
    outline: 0;
    border-radius: 4px;
    background: white;
    color: #495057;
  }

  .pelcro-prefix-form-check-input {
    -webkit-appearance: checkbox;
    margin: 0px 5px 0px 5px !important;
    border-radius: 6px;
    border: 1px solid #ececec;
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }

  .pelcro-prefix-input:focus,
  input:focus,
  .StripeElement--focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
      rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
  }

  .pelcro-prefix-label {
    font-size: 14px;
    opacity: 1;
    margin-top: 6px;
    margin-bottom: 0px;
  }

  .pelcro-prefix-footnote {
    margin-top: 11.2px;
  }

  .pelcro-prefix-select {
    border-radius: 6px;
    font-size: 14px;
    height: 39px;
    margin: 4px 0 4px 0;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    outline: 0;
  }

  /** Payment View **/
  .pelcro-prefix-payment-block {
    background: #fafafa;
    border: 1px solid #ececec;
    border-radius: 6px;
    padding: 26px;
    font-size: 14px;
  }

  .pelcro-prefix-payment-icons {
    height: 15px;
  }

  .pelcro-prefix-options-btn {
    background: $primary-color;
    border-color: $primary-color;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: min-content;
    padding: 3px 9px;
    color: #fff;
  }

  .pelcro-prefix-alert-success {
    background: #e4f5e5;
    border: 1px solid #4ebf56;
  }

  /** Register View **/
  .pelcro-prefix-small-text {
    font-size: 10px;
    margin-bottom: 4px;
    margin-top: 5px;
    text-align: center;
  }

  /** Dashboard View**/
  #pelcro-view-dashboard {
    position: fixed;
    font-size: 1rem;
    top: 0;
    right: 0;
    z-index: 99999999;
    background: #f0f3f2;
    overflow: auto;
    margin: 0;
    height: 100%;
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
    animation: from-right 0.3s linear 0s both;
  }

  @keyframes from-right {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      opacity: 1;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @media (max-width: 576px) {
    #pelcro-view-dashboard {
      min-width: 320px;
    }
  }

  .pelcro-prefix-dashboard-block {
    text-align: center;
    background: white;
    box-shadow: 0 7px 7px -5px #0000001a;
    border: 12px solid white;
    border-radius: 5px;

    &__item {
      font-size: 0.8em;
    }
  }

  .pelcro-prefix-dashboard-text {
    text-align: left;
    font-size: 13px;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
      border-bottom: none;
    }
  }

  .pelcro-prefix-cancel-btn {
    margin: 1em 0;
  }

  .pelcro-prefix-logout-btn {
    margin-bottom: 1em;
  }

  .pelcro-prefix-dashboard-label {
    display: block;
  }

  .pelcro-prefix-dashboard-value {
    display: block;
  }

  .pelcro-prefix-dashboard-close {
    margin-top: 0.2em;
    margin-right: 0.3em;
  }

  .pelcro-prefix-dashboard-label {
    font-weight: bold;
  }

  .pelcro-prefix-dashboard-link {
    float: left;
  }

  .dashboard-content {
    padding: 10px 20px;
    max-width: 390px;

    .col-4,
    .col-8 {
      padding: 0;
    }
  }

  .border-text {
    // margin: 0;

    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    h4 {
      margin-right: auto;
      margin-left: auto;
      background: #f0f3f2;
      padding: 0 10px 0 10px;
      width: fit-content;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .dashboard-email {
    word-break: break-all;
    display: block;
  }

  .border-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid #0000000a;
      border-radius: 5px 5px 0px 0px;
      border-bottom: none;
    }

    &:last-of-type {
      &::before {
        border-radius: 0px 0px 5px 5px;
        border-bottom: 2px solid #0000000a;
      }
    }

    .pelcro-prefix-dashboard-block {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }

  #pelcro-view-dashboard .redeem-gift {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
  }

  #pelcro-view-dashboard .pelcro-prefix-dashboard-block__item {
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #eaeaea;

    &:last-child {
      border-bottom: none;
    }

    .pelcro-prefix-dashboard-text {
      padding: 5px 15px;
    }
  }

  #pelcro-view-dashboard {
    font-family: $primary-font;
    min-width: 370px;
    font-size: 14px;
  }

  #pelcro-view-dashboard .pelcro-prefix-logout-btn {
    margin-top: 45px;
  }

  #pelcro-view-dashboard .pelcro-prefix-dashboard-block {
    border-bottom: 1px solid #ececec;
  }

  #pelcro-view-dashboard .pelcro-prefix-dashboard-block.logo {
    padding: 30px;
    border: none;
    border-radius: 0;
    margin-top: 0;
  }

  #pelcro-view-dashboard
    .pelcro-prefix-dashboard-block:nth-last-child(1) {
    border: none;
  }

  #pelcro-view-dashboard .pelcro-prefix-unsubscribe-btn {
    color: #252525;
  }

  #pelcro-view-dashboard .pelcro-prefix-unsubscribe-btn:hover {
    border-color: #252525;
  }

  #pelcro-view-dashboard .pelcro-prefix-dashboard-label {
    color: #666;
    font-weight: 600;
    font-size: 13px;
  }

  #pelcro-view-dashboard .pelcro-prefix-link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    padding: 4px 7px;
    background: #dfdfdf;
    border-radius: 3px;
    color: #666;
    margin: 5px 2px 0px 2px;

    &:hover {
      background: #e8e8e8;
    }
  }

  #pelcro-view-dashboard .pelcro-prefix-dashboard-value {
    color: #666;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
    font-weight: 400;
  }

  @media (max-width: 576px) {
    #pelcro-view-dashboard {
      min-width: 320px;
    }
  }

  #list {
    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .pelcro-prefix-product-img {
      margin: auto;
      object-fit: cover;
      object-position: center;
      width: 90px;
      height: 90px;
      flex: none;
    }

    .pelcro-prefix-product-container {
      .col-3,
      .col-6,
      .col-9,
      .col-12,
      .col-md-9 {
        padding: 0;
      }

      .pelcro-prefix-product-block {
        padding: 10px;
      }

      .pelcro-prefix-product-cost {
        padding: 0 0 0 10px;
        font-style: italic;
        color: gray;
      }

      .pelcro-prefix-product-button {
        padding: 5px 12px;
      }

      margin: 10px 10px 0 10px;
    }

    .pelcro-prefix-product-title {
      font-size: 15px;
      font-weight: bold;
    }

    .pelcro-prefix-product-description {
      font-size: 12px;
    }

    .pelcro-prefix-product-cost {
      font-size: 11px;
    }

    .pelcro-prefix-product-cost p {
      position: absolute;
      bottom: 0;
      line-height: 15px;
    }

    .pelcro-prefix-product-button {
      margin: auto 0 5px auto;
      border-radius: 3px;
      height: 30px;
      flex: 0;
    }

    .pelcro-prefix-product-button:focus {
      box-shadow: none;
    }

    $first-color: gray;
    $second-color: gray;

    @mixin gradient-border(
      $color1,
      $color2,
      $border-width,
      $direction
    ) {
      border: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(
          #{$direction},
          $color1 0%,
          $color2 100%
        ),
        linear-gradient(#{$direction}, $color1 0%, $color2 100%);

      @if $direction== "to right" or $direction== "to left" {
        @if $direction== "to right" {
          border-left: $border-width solid $color1;
          border-right: $border-width solid $color2;
        } @else {
          border-left: $border-width solid $color2;
          border-right: $border-width solid $color1;
        }

        background-position: 0 0, 0 100%;
        background-size: 100% $border-width;
      }

      @if $direction== "to top" or $direction== "to bottom" {
        @if $direction== "to top" {
          border-top: $border-width solid $color2;
          border-bottom: $border-width solid $color1;
        } @else {
          border-top: $border-width solid $color1;
          border-bottom: $border-width solid $color2;
        }

        background-position: 0 0, 100% 0;
        background-size: $border-width 100%;
      }
    }

    .pelcro-prefix-gradient-border {
      position: relative;
      padding: 3px 5px 3px 0px;
      line-height: 1.4;
      -webkit-appearance: none;
      border-radius: 2px;
      @include gradient-border(
        $first-color,
        $second-color,
        1px,
        "to right"
      );
      background-color: transparent;

      &::-webkit-input-placeholder {
        color: #eee;
        font-family: "Proxima Nova", "futura", "helvetica";
        transition: color 0.2s ease-out;
      }

      &:focus {
        outline: none;

        &::-webkit-input-placeholder {
          color: white;
        }

        ~ .gradient-bg {
          opacity: 1;
        }
      }
    }

    .pelcro-prefix-gradient-bg {
      display: block;
      position: absolute;
      z-index: -1;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          to right,
          $first-color 0%,
          $second-color 100%
        ),
        linear-gradient(to right, $first-color 0%, $second-color 100%);
      transition: all 0.3s ease-out;
    }

    .pelcro-prefix-plan-container {
      position: relative;
      display: block;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 2px;
      margin: auto 10px 7px 10px;

      .pelcro-prefix-plan-block {
        padding-right: 0;
      }
    }

    .control {
      display: block;
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      width: fit-content;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      pointer-events: all;
    }

    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .control-indicator {
      position: absolute;
      top: 5px;
      left: 0;
      height: 15px;
      width: 15px;
      background: #e6e6e6;
      border: 1px solid #c3c3c3;
      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .control-checkbox .control-indicator {
      height: 18px;
      width: 18px;
      top: -1px;
    }

    .control-radio .control-indicator {
      border-radius: 50%;
    }

    .control:hover input ~ .control-indicator,
    .control input:focus ~ .control-indicator {
      background: #ccc;
    }

    .control input:checked ~ .control-indicator {
      background: #848484;
    }

    .control:hover input:not([disabled]):checked ~ .control-indicator,
    .control input:checked:focus ~ .control-indicator {
      background: #848484;
      box-shadow: 0px 0px 0px 3px #cccccc8f;
    }

    .control input:disabled ~ .control-indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }

    .control-indicator:after {
      content: "";
      position: absolute;
      display: none;
    }

    .control input:checked ~ .control-indicator:after {
      display: block;
    }

    .control-checkbox .control-indicator:after {
      left: 6px;
      top: 3px;
      width: 5px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    .control-checkbox input:disabled ~ .control-indicator:after {
      border-color: #7b7b7b;
    }

    .control-radio .control-indicator:after {
      left: 4px;
      top: 4px;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: #fff;
    }

    .control-radio input:disabled ~ .control-indicator:after {
      background: #7b7b7b;
      border: 1px solid #7b7b7b;
    }

    .pelcro-prefix-plan-title {
      font-weight: bold;
      font-size: 15px;
      padding-bottom: 5px;
    }

    .pelcro-prefix-plan-block {
      margin-bottom: 0;
      width: 100%;
      float: none;
      pointer-events: all;

      .col-9,
      .col-3,
      .col-12 {
        padding: 0;
      }

      .col-12.pelcro-prefix-plan-description {
        font-size: 12px;
        text-align: left;
        color: #989898;
        padding-bottom: 5px;
      }
    }

    .pelcro-prefix-plan-price {
      font-weight: bold;
      margin-bottom: 0;
      margin-top: auto;
    }

    .pelcro-prefix-line {
      border-bottom: 1px solid #e2e2e2;
      width: 100%;
      margin: 5px;
    }

    .pelcro-prefix-product-field-wrapper {
      overflow: auto;
    }

    .pelcro-prefix-product-field {
      max-height: 360px;
    }

    .pelcro-prefix-plan-field-wrapper {
      overflow: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .pelcro-prefix-plan-field {
      max-height: 270px;
    }

    @media (max-width: 450px) {
      .pelcro-prefix-product-img {
        width: 60px;
        height: 60px;
      }
    }

    @media (max-width: 320px) {
      .pelcro-prefix-product-img {
        width: 40px;
        height: 50px;
      }
    }

    @media (max-width: 430px) {
      .pelcro-prefix-product-container
        .col-9.pelcro-prefix-product-cost {
        width: auto;
      }
    }
  }

  #pelcro-view-confirm {
    .pelcro-prefix-cart-field {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      max-width: 290px;

      .pelcro-prefix-quantity {
        text-align: center;
      }

      .pelcro-prefix-price {
        text-align: center;
      }

      .pelcro-prefix-cart-product-quantity {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        padding: 3px;
        position: absolute;
        top: -2px;
        right: -6px;
        cursor: default;
        font-size: 12px;

        background: $primary-color;
        border: 2px solid $primary-color;
        color: white;
        text-align: center;

        &:hover {
          background: $secondary-color;
          border-color: $secondary-color;
        }
      }

      .pelcro-prefix-img-wrapper {
        width: fit-content;
        height: fit-content;
        position: relative;
        min-width: 20px;
        min-height: 20px;
      }

      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12,
      .col-md-1,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-5,
      .col-md-6,
      .col-md-7,
      .col-md-8,
      .col-md-9,
      .col-md-10,
      .col-md-11,
      .col-md-12 {
        padding: 0 5px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .pelcro-prefix-product-container {
      padding: 10px 0;
      margin: 5px;
      position: relative;
      transform-origin: top;
      transition: transform 0.15s ease;
      min-height: 50px;
      background: #efefef;
      transition: all 0.4s;

      &:hover {
        background: #f7f7f7;
      }
    }

    .pelcro-prefix-product-container-wrapper {
      // opacity: 0;
      // transition-duration: 1s;
      transform: scaleY(0);
    }

    .pelcro-prefix-product-name-row {
      .pelcro-prefix-cart-product-img {
        margin: auto;
        object-fit: cover;
        object-position: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .pelcro-prefix-cart-product-name {
        padding-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .pelcro-prefix-product-row {
      margin-left: auto;
      margin-right: 0;
    }

    .pelcro-prefix-total-container {
      border-top: 1px solid #dcdcdc;

      margin-top: 10px;
      font-weight: bold;
      font-size: 14px;

      .pelcro-prefix-total-block {
        padding: 10px 20px;
      }
    }

    .pelcro-prefix-total-price {
      text-align: right;
    }

    .pelcro-prefix-btn {
      margin: 10px auto 0 auto;
    }

    .order-summary {
      border: 1px solid #dcdcdc;
      border-radius: 5px;
    }

    .order-summary-title {
      border-bottom: 1px solid #dcdcdc;

      p {
        padding: 5px 20px;
        font-weight: bold;
      }
    }

    .pelcro-prefix-title-block {
      margin-top: 15px;

      p {
        line-height: 15px;
      }
    }

    .wrapper {
      width: 80px;
      height: 80px;
      border: 1px solid transparent;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      background-color: #ccc;
      overflow: hidden;
    }

    .innerCircle {
      position: absolute;
      top: 3px;
      left: 3px;
      margin: auto auto;
      background-color: white;
      width: 72px;
      height: 72px;
      display: block;
      border-radius: 50%;
    }

    .mask {
      content: " ";
      position: absolute;
      right: 0px;
      height: 80px;
      width: 40px;
      border-radius: 0 25px 25px 0px;
      background-color: #ccc;
      transition-delay: 0.3s;
    }

    .spinner {
      content: " ";
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0 29px 29px 0px;
      height: 78px;
      width: 40px;
      background-color: $primary-color;
      transform-origin: left center;
    }

    .filler {
      content: " ";
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      border-radius: 29px 0px 0px 29px;
      height: 78px;
      width: 40px;
      background-color: $primary-color;
      transform-origin: left center;
      transition-delay: 0.3s;
    }

    .check {
      opacity: 0;
      width: 20px;
      height: 40px;
      position: absolute;
      right: 60px;
      bottom: 38px;
      border-bottom: 4px solid $primary-color;
      border-left: 4px solid $primary-color;
      transform: scaleX(-1) rotate(-45deg);
      transform-origin: right bottom;
    }

    .wrapper-ready .check {
      animation: check 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.6s
        forwards;
    }

    .wrapper-ready .spinner {
      animation: rotate 0.6s linear;
    }

    .wrapper-ready .mask {
      opacity: 0;
    }

    .wrapper-ready .filler {
      opacity: 1;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-360deg);
      }
    }

    @keyframes check {
      0% {
        opacity: 1;
        width: 0px;
        height: 0px;
      }

      50% {
        width: 20px;
        height: 0px;
      }

      100% {
        opacity: 1;
        height: 40px;
      }
    }

    .animate-check {
      animation: check 0.7s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.7s
        forwards;
    }

    .animate-spinner {
      animation: rotate 0.4s linear;
    }

    .animate-mask {
      opacity: 0;
    }

    .animate-filter {
      opacity: 1;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-360deg);
      }
    }

    @keyframes check {
      0% {
        opacity: 1;
        width: 0px;
        height: 0px;
      }

      50% {
        width: 20px;
        height: 0px;
      }

      100% {
        opacity: 1;
        height: 40px;
      }
    }

    @media (max-width: 767px) {
      .pelcro-prefix-product-row {
        padding: 10px;
      }

      .pelcro-prefix-product-container {
        padding: 10px 0;
      }
    }

    @media (max-width: 500px) {
      .pelcro-prefix-cart-field {
        font-size: 13px;
      }
    }

    @media (max-width: 440px) {
      .col-5.pelcro-prefix-name {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }

    @media (max-width: 400px) {
      .pelcro-prefix-product-row {
        padding: 10px 5px;
      }

      .pelcro-prefix-product-row {
        margin-right: 0;
        margin-left: auto;
      }

      .col-5.pelcro-prefix-name {
        flex: 0 0 30%;
        max-width: 30%;
      }

      .col-7.pelcro-prefix-product-row {
        flex: 0 0 70%;
        max-width: 70%;
      }
    }
  }

  #pelcro-view-cart {
    .pelcro-prefix-cart-field {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      border-bottom: 1px solid black;
      padding-bottom: 15px;

      .pelcro-prefix-quantity {
        text-align: center;
      }

      .pelcro-prefix-price {
        text-align: center;
      }

      .pelcro-prefix-cart-product-quantity {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 3px;
        position: absolute;
        top: -3px;
        right: -8px;
        cursor: default;

        background: $primary-color;
        border: 2px solid $primary-color;
        color: white;
        text-align: center;

        &:hover {
          background: $secondary-color;
          border-color: $secondary-color;
        }
      }

      .pelcro-prefix-img-wrapper {
        width: fit-content;
        height: fit-content;
        position: relative;
        min-width: 22px;
        min-height: 22px;
        margin-right: 4px;
      }

      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12,
      .col-md-1,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-5,
      .col-md-6,
      .col-md-7,
      .col-md-8,
      .col-md-9,
      .col-md-10,
      .col-md-11,
      .col-md-12 {
        padding: 0 5px;
        margin-top: auto;
        margin-bottom: auto;
      }

      .pelcro-prefix-product-container-header {
        background: #e6e6e6;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        color: gray;
        margin-bottom: 10px;

        div {
          padding: 7px 5px;
        }
      }
    }

    .pelcro-prefix-product-container {
      padding: 10px 0;
      margin: 5px 0;
      position: relative;
      transform-origin: top;
      transition: transform 0.15s ease;
      min-height: 50px;
      background: #efefef;
      transition: all 0.4s;

      &:hover {
        background: #f7f7f7;
      }
    }

    .pelcro-prefix-product-container-wrapper {
      // opacity: 0;
      // transition-duration: 1s;
      transform: scaleY(0);
    }

    .pelcro-prefix-remove {
      text-align: center;
    }

    button.pelcro-prefix-remove {
      color: #c50000;
    }

    .pelcro-prefix-product-name-row {
      .pelcro-prefix-cart-product-img {
        margin: auto;
        object-fit: cover;
        object-position: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .pelcro-prefix-cart-product-name {
        padding-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .pelcro-prefix-product-row {
      margin-left: auto;
      margin-right: 0;
    }

    .pelcro-prefix-total-container {
      margin-right: auto;
      margin-left: auto;
      max-width: 300px;

      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 16px;

      .pelcro-prefix-total-block {
        margin-bottom: 20px;
      }

      .row,
      .col-6 {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .pelcro-prefix-total-price {
      text-align: right;
    }

    .remove-btn-icon {
      width: 15px;
      height: 15px;
    }

    .remove-btn {
      padding: 3px;
      border: 0;
      border-radius: 50%;
    }

    .cross-container {
      width: 100%;

      &:hover > .remove-icon svg {
        fill: #2d2d2d;
        stroke: #2d2d2d;
      }

      &:focus {
        outline: none;
      }
    }

    .pelcro-prefix-btn {
      margin: 10px auto 0 auto;
    }

    @media (max-width: 767px) {
      .pelcro-prefix-product-row {
        padding: 10px;
      }

      .pelcro-prefix-product-container {
        padding: 10px 0;
      }
    }

    @media (max-width: 500px) {
      .pelcro-prefix-cart-field {
        font-size: 13px;
      }
    }

    @media (max-width: 440px) {
      .col-5.pelcro-prefix-name {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }

    @media (max-width: 400px) {
      .pelcro-prefix-product-row {
        padding: 10px 5px;
      }

      .pelcro-prefix-product-row {
        margin-right: 0;
        margin-left: auto;
      }

      .col-5.pelcro-prefix-name {
        flex: 0 0 30%;
        max-width: 30%;
      }

      .col-7.pelcro-prefix-product-row {
        flex: 0 0 70%;
        max-width: 70%;
      }
    }
  }

  .state-select-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#pelcro-shop {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: $primary-font;

  .pelcro-prefix-product-container {
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: fit-content;
    width: min-content;
  }

  .pelcro-prefix-product-field {
    display: flex;
    flex-flow: wrap;
  }

  .pelcro-prefix-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    cursor: pointer;
    background: $primary-color;
    border-color: $primary-color;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 39px;
    color: #fff;
    width: 100%;
    margin-top: 10px;
  }

  .pelcro-prefix-btn:hover {
    background: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }

  [type="reset"],
  [type="submit"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }

  button,
  select {
    text-transform: none;
  }

  button {
    overflow: visible;
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .pelcro-prefix-shop-product-name {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
  }

  .pelcro-prefix-shop-product-description {
    font-size: 13px;
    margin: 0px 10px 5px 10px;
  }

  .pelcro-prefix-product-text-block {
    min-width: 200px;
  }

  .pelcro-prefix-shop-product-img {
    max-width: 210px;
  }

  .pelcro-prefix-change-text {
    transition: color, background 0.5s;

    &:disabled {
      background-color: white;
      transition: color, background 0.5s;
      color: $primary-color;
    }
  }
}

.pelcro-prefix-product-field-wrapper::-webkit-scrollbar-track,
.pelcro-prefix-plan-field-wrapper::-webkit-scrollbar-track {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.pelcro-prefix-product-field-wrapper::-webkit-scrollbar,
.pelcro-prefix-plan-field-wrapper::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.pelcro-prefix-product-field-wrapper::-webkit-scrollbar-thumb,
.pelcro-prefix-plan-field-wrapper::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #afafaf;
}

#pelcro-app
  .pelcro-prefix-form
  .pelcro-prefix-form
  .pelcro-prefix-row
  .col-md-12
  .pelcro-payment-request {
  padding: 0 !important;
}

#pelcro-app
  .pelcro-prefix-modal
  .pelcro-prefix-modal-dialog
  .pelcro-prefix-modal-content
  .pelcro-prefix-modal-body
  .pelcro-prefix-payment-block
  .pelcro-prefix-form
  .spinner-wrapper
  .no-border-spinner
  .no-border-spinner-2
  .no-border-spinner-3
  div {
  margin: auto !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  border-top: 4px solid #009688 !important;
}
