name: Release package

on:
  push:
    branches:
      [
        "master",
        { name: "beta", prerelease: true },
        { name: "alpha", prerelease: true }
      ]
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:once

      - name: Build
        run: yarn run generateFiles

      - name: Publish
        run: yarn run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
