name: Tests

on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop, master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run_tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Check-out repository
      - uses: actions/checkout@v2

      # Install dependencies
      - name: Install Dependencies
        run: yarn install

      # Run jest
      - name: Run Tests
        run: yarn test:once
